{% extends "base.html" %}

{% block body %}

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
        <a class="home_brand">Wear What When...</a>
            <ul class="nav pull-right">
                <li><a href="#">My Closet</a></li>
            </ul>
        </div>
    </div>


<!--     Using this div for hero image -->
    <div class="home_image" align="center"> 

    <div class="row-fluid">
        <div class="span3" align="center" style="padding-top:79px;"><p class="home_h6">The current temperature is <br>{{temp}} degrees</p></div>
        <div class="span2" align="center" style="padding-top:79px"><p class="home_h6">{{forecast}}</p></div>
        <div class="span2" align="center" style="padding-top:79px"><p class="home_h6">High<br>{{daily_high}}</p></div>
        <div class="span2" align="center" style="padding-top:79px"><p class="home_h6">Low<br>{{daily_low}}</p></div>
        <div class="span3" align="center" style="padding-top:79px"><p class="home_h6">Your location is <br>{{location}}</p></div>
    </div>
        <!--     closing hero tag -->
    </div>


    <br>
    <div class="home_h6_black" align="center" style="padding-top:20px;"> Here are your matches for today: </div>
    <br>

    <div class="row-fluid">
        <div class="span4" align="center"><p class="home_h6_black" style="padding-top:20px;">Outfit One</p></div>
        <div class="span4" align="center"><p class="home_h6_black" style="padding-top:20px;" >Outfit Two</p></div>
        <div class="span4" align="center"><p class="home_h6_black" style="padding-top:20px;">Outfit Three</p></div>
    </div>

    <br>
    <br>
    
    <div class="row-fluid">
    {% for outfit in outfits %}
        <div class="span4" align="center">
            <div class="home_outfits">
                {% for item in outfit %}
                    <img src="{{item.image_url}}" height="35"  width="110" />
                    <br>
                    <br>
                    <div align="center">{{item.name}} </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}
