{% extends "base.html" %}

{% block body %}

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
        <a class="home_brand">Wear What When</a>
            <ul class="nav pull-right">
                <li><a href="#">My Closet</a></li>
            </ul>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span7" align="center"><h5>The current temperature is {{temp}} degrees</h5></div>

        <div class="span5" align="right"><h7>Your location is <br>{{location}}</h7></div>
    </div>

    <br>
    <br>

    <div class="row-fluid">
        <div class="span4" align="center"><h7>Forecast<br>{{forecast}}</h7></div>
        <div class="span4" align="center"><div><h7>High<br>{{daily_high}}</h7></div></div>
        <div class="span4" align="center"><h7>Low<br>{{daily_low}}</h7></div>
    </div>

    <br>
    <br>

	<p align="center"> Here are your matches for today: </p>

    <br>

        <div class="row-fluid">

        {% for outfit in outfits %}

            <div class="span4">

            {% for item in outfit %}

                <img src="{{item.image_url}}" width="150"/><br>
                <div align="center">{{item.name}} </div>
            
            {% endfor %} 
            </div>

        {% endfor %}

        </div>

{% endblock %}