{% extends "base.html" %}

{% block body %}

	<h3>The temp is {{temp}}</h3>
    <h3>Your location is {{location}}</h3>

	<p> Here are your matches for today: </p>

        {% for outfit in outfits %}
        <div class="row-fluid">
            <div class="span10">

            {% for item in outfit %}
            <div class="span2">
                <img src="{{item.image_url}}" width="150"/><br>
                <div align="center">{{item.name}}</div> 
            </div>
            {% endfor %} 
            </div>

        </div>
        <hr>
        {% endfor %}

{% endblock %}