<body class="login_body">

{% extends "base.html" %}

{% block body %}

    <br>
    <br>

    <div class="login_h1" align="center"> Welcome to Wear What When </div>

    <div></div>

    <br>

    {% for message in get_flashed_messages() %}

        <div align="center">
            <div class="alert" align="center">{{ message }}</div>
        </div>

    {% endfor %}

    <form action="/login" method="POST" align="center">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="h6_login">{{ form.email.label }} {{ form.email() }}</div>
        <div class="h6_login">{{ form.password.label }} {{ form.password() }}</div>
        <input type="submit" value="Sign in" class="login_btn">
    </form>

{% endblock %}

</body>
