<body class="homepage_body">

{% extends "base.html" %}

{% block body %}

    <br>
    <br>

    <div class="homepage_h1" align="center"> Welcome to Wear What When </div>

    <br>

    {% for message in get_flashed_messages() %}

        <div>
            <div class="alert alert-warning" align="center">{{ message }}</div>
        </div>

    {% endfor %}

    <form action="/login" method="POST" align="center">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="h6_homepage">{{ form.email.label }} {{ form.email() }}</div>
        <div class="h6_homepage">{{ form.password.label }} {{ form.password() }}</div>
        <input type="submit" value="Sign in" class="home_btn">
    </form>

{% endblock %}

</body>
